.pageTitle{
    margin: 20px 0px 30px;
}

.cartList{
    overflow-x: auto;
    
    table{
        // width: 100%;

        tr{
            border: 1px solid #ccc;

            img{
                width: 80px;
            }
            th{
                text-align: center;
            }
            td{
                text-align: center;
                font-size: 14px;
            }
            .delete{
                button{
                    cursor: pointer;
                    padding: 6px;
                    box-sizing: border-box;
                    border: none;
                    border-radius: 2px;
                    width: 60%;
                    background-color: #000;
                    color: #fff;
                    border: 1px solid transparent;
                    
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }

                    &:hover{
                        background-color: #fff;
                        color: #000;
                        transition: 0.2s all linear;
                        border: 1px solid #000;
                    }
                }
            }
        }
    }
}